In [13]:
import pandas as pd
from matplotlib import pyplot as plt

In [14]:
df=pd.read_csv("iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
from sklearn.model_selection import train_test_split as tts
x=df.drop(['Id','Species'],axis='columns')
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [16]:
y=df.Species
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [17]:
x_train,x_test,y_train,y_test=tts(x,y)

In [18]:
from sklearn.linear_model import LogisticRegression as lr

In [19]:
model=lr()
model.fit(x_train,y_train)

LogisticRegression()

In [20]:
model.predict(x_test)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica'], dtype=object)

In [21]:
y_test

43         Iris-setosa
96     Iris-versicolor
141     Iris-virginica
148     Iris-virginica
126     Iris-virginica
50     Iris-versicolor
134     Iris-virginica
45         Iris-setosa
6          Iris-setosa
11         Iris-setosa
70     Iris-versicolor
73     Iris-versicolor
10         Iris-setosa
33         Iris-setosa
81     Iris-versicolor
130     Iris-virginica
62     Iris-versicolor
2          Iris-setosa
21         Iris-setosa
18         Iris-setosa
79     Iris-versicolor
47         Iris-setosa
85     Iris-versicolor
30         Iris-setosa
37         Iris-setosa
95     Iris-versicolor
60     Iris-versicolor
20         Iris-setosa
100     Iris-virginica
143     Iris-virginica
46         Iris-setosa
125     Iris-virginica
83     Iris-versicolor
55     Iris-versicolor
145     Iris-virginica
112     Iris-virginica
99     Iris-versicolor
127     Iris-virginica
Name: Species, dtype: object

In [22]:
model.score(x_test,y_test)

0.9473684210526315

In [23]:
model.predict([[13,1.5,90.4,10.2]])

array(['Iris-virginica'], dtype=object)

In [59]:
import numpy as np
from sklearn.svm import SVC as sv
from sklearn.ensemble import RandomForestClassifier as rs
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score as cvs
from sklearn.tree import DecisionTreeClassifier as dct

In [60]:
kf=KFold(n_splits=3)
kf

KFold(n_splits=3, random_state=None, shuffle=False)

In [61]:
lr1 = cvs(lr(),x_train,y_train,cv=5)
lr1

D:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.95652174, 0.95652174, 1.        , 1.        , 1.        ])

In [62]:
sv1=cvs(sv(),x_train,y_train,cv=5)
sv1

array([0.95652174, 0.95652174, 0.95454545, 1.        , 1.        ])

In [63]:
rs1=cvs(rs(),x_train,y_train,cv=5)
np.average(rs1)

0.9644268774703558

In [66]:
dct1=dct()
dct1

TypeError: 'DecisionTreeClassifier' object is not callable

In [65]:
dct1=cvs(dct(),x_train,y_train)np.average(dct1)

SyntaxError: invalid syntax (Temp/ipykernel_13432/3501131954.py, line 1)